
@{
    ViewBag.Title = "Logged in Page";
}

<h2>logged In Page</h2>
You will be here after logged in!
<br />
<br />
<div>
    @Html.ActionLink("Back", "Index", new { tom = "" }, new { @class = "btn btn-primary" })
</div>



